[defaults]
transport=ssh
host_key_checking=False
host_key_auto_add=True
nocows=True
# connection=local
pipelining=True
display_skipped_hosts=False
callbacks_enabled=timer, profile_tasks, profile_roles
# forks=5
gathering=smart
fact_caching_timeout=86400
# fact_caching=...
# inventory_plugins = TBD?
stdout_callback=yaml

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

# [inventory]
# enable_plugins = host_list, script, yaml, ini, auto #, dna_center

# Reference:
# https://www.redhat.com/sysadmin/faster-ansible-playbook-execution