!
ip access-list extended DMZ_CP_Quarantine-v4-in
 10 permit udp any object-group DMZ-FAA-Networks eq bootps
 20 permit tcp any object-group CP-Appliances eq 443
 30 deny object-group deny-mgmt-ports any any
 40 permit object-group icmp any object-group IB-Servers
 50 permit object-group generic-any-port any object-group DMZ-IB-Servers
 60 permit object-group generic-any-port any object-group DMZ-AD-Servers
 70 permit object-group generic-any-port any object-group DMZ-CP-Appliances
 80 permit object-group generic-any-port any object-group DMZ-Tanium-Servers
 5000 deny ip any any
!
ipv6 access-list DMZ_CP_Quarantine-v6-in
 sequence 10 permit object-group icmp6-core any any
 sequence 20 permit udp any object-group DMZ-FAA6-Networks  eq 547
 sequence 30 permit tcp any object-group DMZ-CP6-Appliances eq 443
 sequence 40 deny object-group deny-mgmt6-ports any any
 sequence 50 permit object-group icmp6 any object-group DMZ-IB6-Servers 
 sequence 60 permit object-group generic-any6-port any object-group DMZ-IB6-Servers 
 sequence 80 permit object-group generic-any6-port any object-group  DMZ-CP6-Appliances
 sequence 90 permit object-group generic-any6-port any object-group  DMZ-Tanium6-Servers
 sequence 5000 deny ipv6 any any
!