====20241106========================================================================================
DNAC                     **WARNING**WARNING**WARNING**

You are accessing a U.S. Government information system, which includes (1)
this computer, (2) this computer network, (3) all computers connected to this
network, and (4) all devices and storage media attached to this network or to
a computer on this network. This information system is provided for U.S.
Government-authorized use only.

Unauthorized or improper use of this system may result in disciplinary action,
as well as civil and criminal penalties. By using this information system,
you understand and consent to the following:

     i.     You have no reasonable expectation of privacy regarding
	    communications or data transiting or stored on this information
            system.
     ii.    At any time, and for any lawful government purpose, the
            Government may monitor, intercept, and search any communication
            or data transiting or stored on this information system.
     iii.   Any communications or data transiting or stored on this
            information system may be disclosed or used for any lawful
            government purpose.

                         FOR ACCESS TO THIS SWITCH CONTACT:
                                MyIT Service Center
                             1-844-FAA-MYIT (322-6948)
DNAC (MFA Enabled)
====================================================================================================
